* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.title {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  width: 550px;
  height: 30px;
  background-color: lightblue;
  margin: 30px auto -20px auto;
  padding: 2px 5px;
}

.name {
  text-align: start;
}

textarea {
  margin-top: 20px;
  resize: vertical;
  height: 200px;
  width: 550px;
}

.other {
  width: 700px
}

#preview {
  width: 700px;
  border: 1px solid black;
  margin: 18px auto;
  text-align: start;
  padding-left: 10px
}

